.searchIcon{
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    color: #28a745;
} 
.input{
    border-radius: 20px !important;
    box-shadow: 0 3px #7b7e9e !important;
}
.input::placeholder{
    padding-left: 25px;
    font-family:'Josefin Sans' !important;
    color: #000000 !important;
}
.input:focus{
    padding-left: 35px;
    box-shadow: none !important;
    border-color: #28a745;
}
.input:focus::-webkit-input-placeholder{
    opacity: 0;
}
.input:not(:focus):not(:placeholder-shown){
    padding-left: 35px;
}
