.div{
    min-height: 100vh;
    background-image: url('../../images/johannes-plenio-RwHv7LgeC7s-unsplash.jpg');
    background-size: 100% 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-blend-mode: multiply;

}
.div:before{
    display: block;
    padding-top: 100%;
}
.card{
    background-image: url('../../images/hakon-sataoen-qyfco1nfMtg-unsplash.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-size:cover;
    position: absolute;
    top: 10%;
    right:10%;
    left: 10%;
    bottom: 10%;
    border-style:groove;
    border-radius: 15px;
    border-color:black;
    border-width: 5px;  

}
.column{
    margin-top: 35px;
    padding-left: 35px;
    color:#000000;
}
.p{
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    background-color: transparent;
    background-blend-mode:darken;
    color: white;
}
.form{
    width: 90%
}
.label{
    color:#000000;
    font-weight: 600;
}
.icon{
    position: absolute;
    color:#000000;
    min-width: 40px;
    margin-top: 10px;
}

.input::placeholder{
    padding-left: 25px;
    color:#000000;
}
.input{
    background-color: transparent; 
    border-color: #0275d8;
}
.input:focus{
    padding-left: 30px;
    border-color: none !important;
    box-shadow: none !important;
    background-color: transparent;
    color:#000000;
}
.input:focus::-webkit-input-placeholder{
    opacity: 0;
}

.input:not(:focus):not(:placeholder-shown){
    padding-left: 35px;
}
.input:not(:focus):not(:placeholder-shown):valid{
    border-color: green;
}
.input:not(:focus):not(:placeholder-shown):invalid{
    border-color: red;
}
.error_message{
    display: none;
    color: red !important;
}
.input:not(:focus):not(:placeholder-shown):invalid ~ .error_message{
    display: inline-block;
}
.button{
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .form{
        padding-left: 5px;
        
    }
    .card{
        bottom: 2%;
        top: 2%
    }
     .p{
         line-height: 25px;
     }
}